{% load static %}
 <!-- title -->
 <div class="small-container">
    <div class="row row-2">
        <h2>Related Products</h2>
        <p>View More</p>
    </div>
</div>
<!-- Products -->
<div class="small-container">
    <div class="row">
        <div class="col-4">
            <img src="{% static 'images/product-9.jpg' %}">
            <h4>Watch</h4>
            <div class="rating">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-o"></i>
            </div>
            <p>$1000.00</p>
        </div>
        <div class="col-4">
            <img src="{% static 'images/product-10.jpg' %}">
            <h4>Black shoe</h4>
            <div class="rating">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-o"></i>
            </div>
            <p>$550.00</p>
        </div>
        <div class="col-4">
            <img src="{% static 'images/product-11.jpg' %}">
            <h4>White Shoe</h4>
            <div class="rating">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-o"></i>
            </div>
            <p>$450.00</p>
        </div>
        <div class="col-4">
            <img src="{% static 'images/product-12.jpg' %}">
            <h4>Tracksuit</h4>
            <div class="rating">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-o"></i>
            </div>
            <p>$150.00</p>
        </div>
    </div>
</div>